  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    margin: 0px;
  }

  .puzzle {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border : 1px solid white;
    font-weight: 600;
    font-size: 24px;
  }

  .tile {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 10px;
    border: 1px solid #e6e0e0;
    border-radius: 10px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: top 0.3s, left 0.3s;
  }

  .empty {
    background-color: transparent;
    cursor: default;
  }